# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
# Keep dataset tracked for now; move to data/ and uncomment if you want to ignore
# Iris.csv/
